.container{
    width: 100%;
    height: 100%;
    display: flex;
}
body{
    background-color:rgb(43, 43, 43);
}
.items{
    width: 17%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.items img{
    width: 100px;
    height: 150px;
    border: 2px solid orange;
}
.display{
    width: 42%;
    height: 800px;
}
.display img{
    width: 100%;
    height: 100%;
}
.details{
    width: 41%;
    height: 800px;
    display: flex;
    flex-direction: column;
}
.rating{
    height: 200px;
    font-size: large;
    color:gray;
    border-bottom: 2px solid gray;
}
.rating h5 i{
    padding: 5px;
    color: red;
}
.price h2 i {
    font-size: 30px;
    color: gray;
    font-style: italic;
    margin: 5px;
    padding: 5px 10px;

}
.price del{
    font-size: 20px;
    color: gray;
}
.price del i {
    font-size: 20px;
}
.price h5{
    font-size: 20px;
    color: green;
}
.price p{
    font-size: 20px;
    color: grey;
}
.details .two{
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}
.stock button{
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.offers{
    height: 150px;
    font-size: large;
    color:gray;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
.offers button{
    margin: 2px;
    padding: 5px;
    background-color: rgb(0, 255, 213);
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
}
.offers button:hover{
background-color: green;
}
.cart button{
    margin-top: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: red;
}
#container{
    margin: 150px;
    color: gray;
    width: 100%;
    height: 100%;
}
.heading{
    display: flex;
    justify-content: center;

}
.h3{
    border: 2px solid;
    border-radius: 5px;
    background-color: red;
}
.heading h3{
    padding: 15px 30px;
    margin: 5px;
}
.heading h3:hover{
    border: 2px solid;
    border-radius: 5px;
    background-color: red;
}
.table{
    width: 700px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.value{
    text-align: right;
}
.RP{
    justify-content: center;
    text-align: center;
    color: gray;
}
.products{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}
.jbl{
    height: 450px;
    width: 250px;
    border: 2px solid gray;
}
.star{
    color: gray;
    border-bottom: 2px solid gray;
}
.star h5 i{
    color: red;
}
.cart1{
    justify-content: center;
    padding: 0px 5px;
}
.cart1 button{
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 70px;
    background-color: red;
}
.adv h1{
    margin: 150px;
    color: gray;
    text-align: center;
}
.four{
    display: flex;
    justify-content: space-evenly;
}
.truck{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.truck h2{
    color: white;
}
.truck h4{
    color: gray;
}
.truck i{ 
    width: 150px;
    height: 50px;
    color: red;
    font-size: 52px;
    margin-right: 10px;
}
footer{
    background-color: black;
}
.Four{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    color: gray;
    width: 100%;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}
.Four > div{
    width: 300px;
}
.Four button{
    background-color: red;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;

}
.Four > div > input {
    width: 100%;
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 0px;
    margin: 5px;
    color: gray;
}
.two{
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: gray;
}
.shop{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
body {
    width: 100%;
    height: 100%;
}
.tech{
    color: red;
}
.three{
    display: inline-flex;
    color: rgb(190, 3, 3);
}
.three .bi {
    width: 100%;
}
.three i{
    padding: 20px;
    font-size: 28px;
}
span, .bii {
    display: none;
    color: red;
}
.three .bi:hover span {
    border: 1px solid gray;
    background-color: rgb(53, 53, 53);
    color: red;
    display: block;
}
.bi:hover .bii{
    display: block;
    border: 1px solid gray;
    background-color:rgb(43, 42, 42);
}
a{
    color: red;
}
button{
    background-color: rgb(54, 54, 54);
}
ul{
list-style: none;
}
li{
    font-size: 15px;
}